<div class="hq_rsrc">
    
        Resource: <%= assign_hq_proc_hq_rsrc_select %>
       
        <span class="remove"><%= link_to_function "remove", "$(this).up('.hq_rsrc').remove()" %></span>

</div>
