<div class="hq_rsrc">
    
        Resource: <%= hq_proc_hq_rsrc_select(HqRsrc.all, hq_rsrc.id) %>
        <% if params[:action] == 'edit' -%>
        <span class="remove"><%= link_to_function "remove", "$(this).up('.hq_rsrc').remove()" %></span>
		<% end -%>

</div>
