<table class="indextable">
    <tr>

        <th class="detail">
            Select Resources
        </th>
    </tr>
    <tr>
        <td class="detail">
            <%= assign_hq_proc_hq_rsrc_select %>
        </td>
    </tr>
</table>