<tr>
    <td class="detail">
        <%= progress_link(hq_vserver.name.to_s, hq_vserver_path(hq_vserver)) %>
    </td>
    <td class="command">
        <%= link_to ('Edit', edit_hq_vserver_path(hq_vserver, :page => params[:page]) )%>
    </td>
		<td class="command">
        <%= link_to 'Destroy', hq_vserver, :confirm => 'Are you sure?', :method => :delete %>
    </td>
</tr>
