<div class="ppt_class">
   
    
    <p>
        <%= assign_hq_vserver_ppt_class_select(ppt_class ?  ppt_class.id : 0) %>
        <% if params[:action] == 'edit' -%>
		<span class="remove"><%= link_to_function "remove", "$(this).up('.ppt_class').remove()" %></span>
		<% end -%>
    </p>

</div>
