<li class="hq_diskarray" style="list-style: none;">
    <%= assign_hq_rack_hq_diskarray_select(@hq_diskarrays.reject {|x| @hq_rack.hq_diskarrays.include?(x)}) %>
    <span class="remove">
    <%= link_to_function "remove", "$(this).up('.hq_diskarray').remove()" %></span>
</li>
