<li class="hq_switch" style="list-style: none;">
    <%= assign_hq_rack_hq_switch_select(@hq_switches.reject {|x| @hq_rack.hq_switches.include?(x)}) %>
    <span class="remove">
    <%= link_to_function "remove", "$(this).up('.hq_switch').remove()" %></span>
</li>
