<li class="hq_server" style="list-style: none;">
    <%= hq_rack_hq_server_select(@hq_servers, hq_server.id) %><span class="remove">
    <%= link_to_function "remove", "$(this).up('.hq_server').remove()" %></span>
</li>
