div.tableContainer {
    clear: both;
    max-height: 249px;
    overflow: auto;
    width: 838px;
    margin-top: 1px;
    border-top: solid 1px #A49078;
    border-left: solid 1px #A49078;
    border-right: solid 1px #A49078;
    border-bottom: solid 1px #A49078;
    /*
min-height: 148px;
*/
}

/* Reset overflow value to hidden for all non-IE browsers. */
html > body div.tableContainer {
    overflow: hidden;
}

/* define width of table. IE browsers only                 */
div.tableContainer table {
    float: left;
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html > body div.tableContainer table {
    width: 838px;
    font-size: .8em;
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
    position: relative
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html > body thead.fixedHeader tr {
    display: block
}

/* make the TH elements pretty */
thead.fixedHeader th {
    background-color:  #A49078;
    border-right: 1px solid #EFF0E6; 
    border-left: 1px solid #3D1E1E;
    border-top: 1px solid #3D1E1E;
    font-weight: normal;
    padding: 4px 3px;
    text-align: left
}

/* make the A elements pretty. makes for nice clickable headers                */
thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
    color: #FFF;
    display: block;
    text-decoration: none;
    width: 100%
}

/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
thead.fixedHeader a:hover {
    color: #FFF;
    display: block;
    text-decoration: underline;
    width: 100%
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html > body tbody.scrollContent {
    display: block;
    overflow-x: hidden;
	overflow-y: auto;
    width: 100%;
    max-height: 209px;
    /*
min-height: 108px;
*/
}

/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/                             */
tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
    background: #FFF;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #CCC;
    border-top: 1px solid #DDD;
    padding: 2px 3px 3px 4px;
    font-size: .95em;
}

tbody.scrollContent tr.alternateRow td {
    background: #EEE;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #CCC;
    border-top: 1px solid #DDD;
    padding: 2px 3px 3px 4px;
    font-size: .95em;
}

/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html > body thead.fixedHeader th {
    width: 20px
}

html > body thead.fixedHeader th + th {
    width: 240px
}

html > body thead.fixedHeader th + th + th {
    width: 409px
}

html > body thead.fixedHeader th + th + th + th {
    width: 136px
}

/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html > body tbody.scrollContent td {
    width: 20px;
}

html > body tbody.scrollContent td + td {
    width: 240px;
}

html > body tbody.scrollContent td + td + td {
    width: 409px;
}

html > body tbody.scrollContent td + td + td + td {
   width:120px;
}

