<div id="hq_rsrc_container" class="container">
    <div class="title">
         <%= link_to_function 'Resources', visual_effect(:toggle_blind, :hq_rsrcs_editor) %>
    </div>
    
    	
                    
            <%= render :partial => 'hq_procs/line/hq_rsrc' %>
        
   
</div>
