<% SyshqNavSection.display.each do |section| -%>
<ul><%= section.name %>
	<% section.displayed_items.each do |item| -%>
    <li>
        <%= link_to item.name, :controller => item.cntrlr, :action => 'index' %>
    </li>
    <% end -%>
</ul>
<% end -%>
