<div id="maincontent">
    <div id="pageinfo">
        <%= page_entries_info @objects, :entry_name => @screen_name %>
    </div>
    <table class="indextable">
        <colgroup>
            <col class="detail"><col class="command">
        </colgroup>
        <tr>
            <th class="detail">
                Name 
            </th>
            <th class="command" colspan="2">
                <%= link_to 'New', eval('new_'+@symbol_name+'_path') %>
            </th>
        </tr>
        <%= render :partial => "#{@symbol_name.pluralize}/line/#{@symbol_name}", :collection => @objects %>
    </table>
<%= render :partial => 'shared/paginator' %>
</div>
