<% form_for @symbol_name, :url => @object do |f| %>
  <%= render :partial => "#{@symbols_name}/reflected/fields", :locals => { :f => f } %>
  <p><%= submit_tag "Create #{@object.screen_name}" %></p>
<% end %>