<div id="ppt_node_container" class="container">
    <div class="title">
        <%= link_to_function 'Members', visual_effect(:toggle_blind, :ppt_nodes_editor) %>
    </div>
    
        <div id="ppt_nodes" class="content">
            <%= render :partial => 'ppt_classes/line/ppt_node' %>
        </div>

</div>
