<table class="indextable">
    <tr>
        <th class="detail">
            Select Virtual Servers
        </th>
        <th class="detail">
            Select Servers
        </th>
    </tr>
    <tr>
        <td class="detail">
            <%= assign_ppt_class_ppt_node_hq_vserver_select(@object.ppt_nodes.select{ |x| x.puppetized_node_type='HqVServer'}.collect(&:puppetized_node_id)) %>
        </td>
        <td  class="detail">
            <%= assign_ppt_class_ppt_node_hq_server_select(@object.ppt_nodes.select{ |x| x.puppetized_node_type='HqServer'}.collect(&:puppetized_node_id)) %>
        </td>
    </tr>
</table>
