<p>
  <b>Hq proc:</b>
  <%=h @hq_rsrc_usage.hq_proc_id %>
</p>

<p>
  <b>Hq rsrc:</b>
  <%=h @hq_rsrc_usage.hq_rsrc_id %>
</p>


<%= link_to 'Edit', edit_hq_rsrc_usage_path(@hq_rsrc_usage) %> |
<%= link_to 'Back', hq_rsrc_usages_path %>