<div class="editor">
    <%= @object.name %>
</div>
 <% remote_form_for(@object, :url => {:action => :tasks_by_apps}, :html => {:method => :get}) do |f| -%>
<div id="applications">
    <%= render :partial => 'hq_systems/edit/applications', :object => @object.hq_apps.sort {|x,y| x.name <=> y.name} %>
</div>
<div id="tasks">
</div>
<div id="processes">
</div>
<div id="resources">
</div>
<% end -%>