<tr>
    <td class="detail">
        <%= progress_link(hq_switch.name.to_s, hq_switch_path(hq_switch)) %>
    </td>
    <td class="command">
        <%= progress_edit_link 'Edit', edit_hq_switch_path(hq_switch) %>
    </td>
		<td class="command">
        <%= link_to 'Destroy', hq_switch, :confirm => 'Are you sure?', :method => :delete %>
    </td>
</tr>
