<% belongs_to_associations(@CcObjectClass).collect {|y| eval(y.name.to_s.camelize)}.each do |owner| -%>
<div class="container">
    <div class="title">
        <%= owner.screen_name %>
    </div>
    <div id="hq_<%= owner.class.name.underscore %>_editor" class="editor">
        
        <div id="has_manys" class="content">
            <%= belongs_to_select(f,owner) %>
        </div>
    </div>
</div>
<% end -%>