<% has_many_associations(@CcObjectClass). each do |owns| -%>
<div class="container">
	<div class="title">
    <%= link_to_function eval(owns.name.to_s.camelize.singularize).screen_name.pluralize, visual_effect(:toggle_blind, "content_#{owns.id}") %>
    </div>
    <div id="content_<%= owns.id %>" class="editor"  style="display:none;">
       
        <div id="<%= owns.name.to_s %>_list" class="content">
        <% @object.send(owns.name).each do |x| -%>
      	<% keys = x.attributes.keys.reject {|y|  y.match('id$').nil? == false or y.match('_type').nil? == false or y.match('_at').nil? == false} -%>
        

        <%= render :partial => 'reflected/has_many_line', :locals => { :x => x  } %>
  
        </ul>
        <% end -%>
    </div>
</div>
</div>
<% end -%>

