<div id="preview_detail" style="display:none;"></div>
<%= render :partial => 'shared/pageinatorinfo' %>
<%= render :partial => 'reflected/index_table' %>
<%= render :partial => 'shared/paginator' %>

